.primary-footer {
    min-height: 5rem;
    width: 100%;
    background-color: var(--clr-primary-500);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 5px solid var(--clr-primary-500);
    font-weight: var(--fw-medium);
}