.primary-header {
    width: 100%;
    padding: 0.5rem 1rem;
}

.primary-header .container {
    display: grid;
    height: 100%;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: 'primary-navigation logo button-nav';
}

.primary-header .container .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: logo;
    height: 100%;
}

.primary-header .container .logo > a{
    margin-left: 1rem;
    height: 100%;
}

.primary-header .container img{
    height: 100%;
}

/*Navigation bar*/
.primary-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-area: primary-navigation;
}

.primary-navigation .navigation-list {
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
}

.primary-navigation .navigation-list a {
    text-decoration: none;
    color: #bd34fe;
    font-weight: 600;
}

.primary-navigation .navigation-list a:hover {
    text-decoration: underline;
}

.primary-navigation .menu {
    display: none;
}

/*Button in nav*/
.primary-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: button-nav;
}

.primary-button > button {
    background-color: #f2921d;
    color: #ffffff;
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
}

/*Media querues*/
@media screen and (min-width: 320px) and (max-width: 1024px) {
    
    .primary-navigation .navigation-list{
        display: none;
    }

    .primary-navigation .menu {
        display: block;
        border: solid 1px red;
    }
}